/* General Styles */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

/* Header Styles */
header {
    position: fixed;
    background-color: black;
    padding: 10px;
    width: 100%
}

.menu-button {
    display: inline-block;
    text-align: center;
    background-color: darkred;
    color: black;
    padding: 10px;
}

.menu-button:hover .dropdown{
    color: white;
    font-variant: bold;
    color: black;  
  }

/* Dropdown*/

.dropdown{
    display: none;
    padding: 10px;
    border: #333;
    color: white;
    color: black;
  }

.dropdown:hover {
    color: white;
    font-variant: bold;
    color: black;  
  }

  
  /* Container Styles */

  .overflow-scroll {
    overflow: scroll;
 }
 
  .container {
    width: 45%;
    margin: 10px;
    padding: 20px;
    border: 2px solid #333;
    background-color: #f0f0f097;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  
.photo-container {
    border: #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 7em;
    padding: 2em;
    background-color: black;
}

