/* General Styles */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

/* Header Styles */
header {
    position: fixed;
    background-color: black;
    padding: 10px;
    width: 100%
}

/* Top Menu */
.display-inline-block {
    display: inline-block;
 }
.menu-item {
    margin: auto;
    padding: 0.25em;
    min-width: 75px;
    font-size: 10pt;
    color: #fff;
    background-color: darkred;
    line-height: 2.1em;
    text-align: center;
}
 
 .menu-item:hover {
    background-color: gold;
    color: #333;
    font-weight: bolder;
  }
 
 
 /* Dropdown Menu */
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 2px solid #000;
    margin: 0;
    margin-top: 0.5em;
    color: #000;
    background-color: #fff;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Items */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover {
    color: black;
    background-color: gold;
    
}
  
  /* Container Styles */

  .overflow-scroll {
    overflow: scroll;
 }
 
  .container {
    width: 45%;
    margin: 10px;
    padding: 20px;
    border: 2px solid #333;
    background-color: #f0f0f097;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  
.photo-container {
    border: #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 7em;
    padding: 2em;
    background-color: black;
}

