/* Internal CSS */
body {
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}
/*General*/
.container {
    background-color: rgba(184, 226, 231, 0.975);
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

/*Heading Style*/
h1 {
    font-size: 2.0em;
    font-family: Bellota-BoldItalic;
    color: #744527;
    text-align: center;
}

/*Paragraph details*/
p {
    text-align: justify;
}

.p1 {
    text-align: left;
    text-indent: 1.5em;
}


/*Styling for image*/
img {
    max-width: fit-content;
    margin-top: auto;
}

/* Hover Effect on Heading */
h1:hover {
    background-color: #744527;
    color: #d8bca3;
}



